@import 'rupture'
@import 'nib'

rupture.mobile-cutoff = 450px
rupture.scale = 0 450px 600px 800px 1050px 1800px

$red = #EAA960
$green = #8EBA40

$mono = Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace
$sans = avenir next, avenir, -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif
$serif = Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
$leftMargin = 1.5rem
$horizontalMargin = 1.5rem
$productSize = 200px

.field-name
  display: none
  visibility: hidden

html
  color: #141414
  background-color: #fafafa

body
  width: "calc(100vw - (%s + %s))" % ($leftMargin $horizontalMargin)
  max-width: "calc(100vw - (%s + %s))" % ($leftMargin $horizontalMargin)
  margin 0
  margin-left $leftMargin
  margin-top 2rem

  &::before
    display: none

  +mobile(orientation: portrait)
    margin-left: auto
    margin-right: auto

.row-page
  .field, .header, .nav-button
    margin-left 1.5rem
  .row
    min-height 80vh

  .Produs
    font-size 3rem
    line-height 3rem
    font-weight bold
    font-family $sans

    +mobile(orientation: portrait)
      text-align left

  .Pret
    +mobile(orientation: portrait)
      text-align left

  .Imagine
    margin 0

  img
    margin: 0
    margin-top 2rem
    width 300px
    height: 300px
    object-fit: cover

.index-page
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap

  +mobile(orientation: portrait)
    justify-content: space-between
  +tablet(orientation: portrait)
    justify-content: space-between


.row-link
  margin-bottom: 2rem
  margin-left: $horizontalMargin
  margin-right: $horizontalMargin

  +mobile(orientation: portrait)
    margin-bottom: 3rem
    margin-left: 0
    margin-right: 0

  &:last-of-type .row
    margin-bottom: 0

  .row::after
    display: none

  ul
    margin: 0

  img
    width: $productSize
    height: $productSize
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06)
    border-radius: 8px
    object-fit: cover
    margin: 0

    +mobile(orientation: portrait)
      width: 120px
      height: 120px

    +tablet(orientation: portrait)
      width: 150px
      height: 150px

  .row
    +mobile(orientation: portrait)
      margin-left 0.6rem
      margin-right 0.6rem

.Pret
  // font-family: $mono
  font-weight: bold
  font-size: 1rem
  margin-top: 0

  +mobile(orientation: portrait)
    text-align center

  +above(2)
    display inline

    &.Maxim
      margin-left 0.7ex

  &.Minim
    color: $red

  &.Maxim
    color: $green

  & span
    color: slategray

.Produs
  font-weight 500
  font-size 1.1rem
  +mobile(orientation: portrait)
    text-align center

.Nota
  font-weight 500
  font-size 0.9rem
  color darkseagreen
  p
    margin: 0
    max-width: $productSize

.header
  margin-top: 0

  h1
    font-weight: 800
    margin-top: 0

  & + h1
    margin-bottom: 4rem
    font-size: 1.5rem
    font-weight: bold

  &, & + h1
    font-family: $sans
    font-weight: bold
    flex-grow: 1
    flex-basis: 100%
    flex-shrink: 0

